GEMINI_API_KEY=your_key_here
MASTER_SHEET_ID=your_google_sheet_id
MANAGER_EMAIL=sulemanaizaz48@gmail.com
SMTP_USER=your_gmail@gmail.com
SMTP_PASS=your_16_char_app_password
SWE_SHEET_ID=your_swe_sheet_id
BDM_SHEET_ID=your_bdm_sheet_id
